<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--id：唯一标识符 class指定类-->
    <bean id="student" class="com.faith.entity.StudentClass">
        <property name="stuName" value="小米"></property>
        <property name="stuNo" value="001"></property>
        <property name="stuAge" value="24"></property>
    </bean>

    <bean id="java" class="com.faith.newinstance.JavaCourse"></bean>
    <bean id="html" class="com.faith.newinstance.HtmlCourse"></bean>
</beans>